@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@200;400&family=Candal&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFAE0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.smallbizsociety-header {
    font-family: 'Candal', sans-serif;
}
#nav-bar {
    font-weight: bold;
}

h1 {
    font-family: 'Kalam', cursive;
    letter-spacing: 8px;
    font-weight: bolder;
    margin: 7.5% 30px 5px 30px;
    font-size: 40px;
    text-align: center;
}

h2, h3, h4, form, p {
    margin: 5px 30px;
}

h2, h3, h4, button, form, input, p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

button {
    background-color: #606c38;
    border-style: none;
    transition: all .3s;
}

input {
    border: 2px solid #606c38;
    border-radius: 2px;
    color: #606c38;
}

button, input {
    margin: 20px 30px;
    padding: 8px 20px;
    color: #FEFAE0;
}

button:hover {
    background-color: #606c38a2;
}

#landing-page {
    margin-top: 20px;
    text-align: center;
}

#login-error {
    margin-top: 30px;
    color: #BC6C25;
    font-weight: bolder;
}

#login-biz {
    background-color: #606c38;
    transition: all .3s;
}

#login-biz:hover {
    background-color: #606c38a2;
}

#login-biz-name {
    color: #606c38;
}

#login {
    margin-top: 30px;
}

#join {
    margin-top: 30px;
}


#new-biz-name {
    color: #606c38;
}

#new-biz-price-range {
    color: #606c38;
}

#new-biz-address {
    color: #606c38;
}

.update-biz-name {
    color: #606c38;
}

.update-biz-price-range {
    color: #606c38;
}

.update-biz-address {
    color: #606c38;
}



#home-page {
    text-align: center;
}

ul {
    list-style: none;
}

#nav-bar { 
    display: block;
    position: absolute;
    top: 0;
    margin-top: 20px; 
    margin-left: 50%;
    transform: translateX(-50%)
}

#small-biz-item-list {
    display: flex;
    flex-wrap: wrap;
}

#small-biz-form {
    margin-top: 15px;
}

#create-biz {
    background-color: #606c38;
    transition: all .3s;
    border-style: none;
}

#create-biz:hover {
    background-color: #606c38a2;
}

#filter-small-biz {
    margin-left: 30px;
}

img {
    height: auto;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    transition: all .4s;
}

li {
    padding: 10px 20px;
    width: 400px;
}
