@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@200;400&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe5d9;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

#nav-bar {
    font-weight: bold;
}

h1 {
    font-family: 'Kalam', cursive;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 20px 30px;
}

h2, h3, h4, form {
    margin: 5px 30px;
}

h2, h3, h4, button, form, input {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

button {
    background-color: #606c38;

}

button, input {
    margin: 20px 30px;
    padding: 8px 20px;
    border-style: none;
    color: #ffe5d9;
}

#login-biz {
    background-color: #606c38;
    transition: all .3s;
}

#login-biz:hover {
    background-color: #606c38a2;
}

#login-biz-name {
    color: #606c38;
}


#login {
    background-color: #606c38;
    transition: all .3s;
}

#login:hover {
    background-color: #606c38a2;
}

#join {
    background-color: #606c38;  
    transition: all .3s;
}

#join:hover {
    background-color: #606c38a2;
}

ul {
    list-style: none;
}

#nav-bar { 
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}